button{
	border: none;
}

#plant{
	background-image:url('../img/sfondoNavicella.png');
	background-position: center;  
	background-size: 800px 600px;
	background-repeat: no-repeat;
	width: 800px;
	height: 600px;
}

.valve{
	position:absolute;
	width: 72px;
	height: 67px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../img/Valve_Close.png');
	background-size: 70px 66px;
}

.led_alarm{
	position:absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../img/rled_off.png');
	background-size: 20px 20px;
}

.led_working{
	position:absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../img/gled_off.png');
	background-size: 20px 20px;
}

.semaphore{
	position:absolute;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../icon/light_blue.png');
	background-size: 20px 20px;
}

.arrow{
	position:absolute;
	width: 25px;
	height: 25px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}


#valve_1 {
	
	margin-left:177px;
	margin-top:22px;
	
}

#valve_2 {
	margin-left:280px;
	margin-top:92px;
}

#valve_3 {
	margin-left:434px;
	margin-top:47px;
}

#valve_4 {
	margin-left:434px;
	margin-top:115px;

}

#valve_5 {
	margin-left:521px;
	margin-top:290px;
}

#freno{
	width: 23px;
	height: 70px;
	background-color: transparent;
	background-repeat: no-repeat;
	position:absolute;
	margin-left:194px;
	margin-top:226px;
	background-image: url('../img/Brake_Open.png');
	background-size: 18px 59px;
}

#spinholder{
	width: 67px;
	height: 112px;
	background-color: transparent;
	background-repeat: no-repeat;
	position:absolute;
	margin-left:565px;
	margin-top:410px;
	background-image: url('../img/Spinholder_Open.png');
	background-size: 66px 109px;
}

#flap_position{
	width: 67px;
	height: 510px;
	background-color: transparent;
	background-repeat: no-repeat;
	position:absolute;
	margin-left:-5px;
	margin-top:1px;
	background-image: url('../img/Flap_Open.png');
	background-size: 66px 510px;
}

#cuscinetto_t1{
	position:absolute;
	margin-left:75px;
	margin-top: 213px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#cuscinetto_t2{
	position:absolute;
	margin-left:279px;
	margin-top: 213px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#distr_lvl{
	position:absolute;
	margin-left:700px;
	margin-top: 150px;
}

#distr_t{
	position:absolute;
	margin-left:586px;
	margin-top: 150px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#ridut_lvl{
	position:absolute;
	margin-left:340px;
	margin-top: 265px;
}

#ridut_t{
	position:absolute;
	margin-left:340px;
	margin-top: 235px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#ridut_giri{
	position:absolute;
	margin-left:340px;
	margin-top: 200px;
	font-size: 20px;
	width: 60px;
	height: 25px;
}

#navicella_t{
	position:absolute;
	margin-left:600px;
	margin-top: 10px;
	font-size: 20px;
	width: 60px;
	height: 25px;
}

#engine_t1{
	position:absolute;
	margin-left:120px;
	margin-top: 400px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#engine_t2{
	position:absolute;
	margin-left:175px;
	margin-top: 400px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#engine_t3{
	position:absolute;
	margin-left:230px;
	margin-top: 400px;
	font-size: 12px;
	width: 33px;
	height: 20px;
}

#engine_prod{
	position:absolute;
	margin-left:193px;
	margin-top: 350px;
	font-size: 20px;
	width: 70px;
	height: 25px;
}

#wind-speed{
	position:absolute;
	margin-left:600px;
	margin-top: 50px;
	font-size: 20px;
	width: 60px;
	height: 25px;
}

#freno_FC_A{
	position:absolute;
	margin-left:210px;
	margin-top: 180px;
}

#freno_FC_C{
	position:absolute;
	margin-left:210px;
	margin-top: 205px;
}

#contadenti_1{
	position:absolute;
	margin-left:213px;
	margin-top: 520px;
}

#contadenti_2{
	position:absolute;
	margin-left:250px;
	margin-top: 520px;
}

#sensore_0{
	position:absolute;
	margin-left:70px;
	margin-top: 520px;
}

#spin_motor_status{
	position:absolute;
	margin-left:488px;
	margin-top: 545px;
}

#engine_status{
	position:absolute;
	margin-left:100px;
	margin-top: 350px;
	
}

#spin_dx{
	position:absolute;
	margin-left:519px;
	margin-top: 568px;
	background-image: url('../img/spin_dx_off.png');
}

#spin_sx{
	position:absolute;
	margin-left:488px;
	margin-top: 568px;
	background-image: url('../img/spin_sx_off.png');
}

